<div class="main">
  <div class="main-width">
    <div class="card">
      <section class="section-title">
        <h3>Cadastrar Profissional</h3>
      </section>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid-um">
          <mat-form-field appearance="outline" class="span8">
            <mat-label>Descrição<span class="required">*</span></mat-label>
            <input matInput formControlName="describe" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="span4">
            <mat-label>Preço<span class="required">*</span></mat-label>
            <input matInput formControlName="price" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="span4">
            <mat-label>Data de Validade</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="expiry_date"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <section class="footer-buttons">
          <div>
            <button
              mat-fab
              extended
              color="tertiary"
              [routerLink]="['/crud-list']"
            >
              <mat-icon>keyboard_arrow_left</mat-icon>
              Voltar
            </button>
          </div>

          <div *ngIf="!isReadOnly">
            <button mat-fab extended color="primary" type="submit">
              <mat-icon>check</mat-icon>
              Salvar Cadastro
            </button>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
